In [1]:
import pandas as pd
import numpy as np
import os
os.chdir('../')

from utils.data_processing import EyeTrackingProcessor

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import GridSearchCV

import matplotlib.pyplot as plt

In [2]:
path_001 = 'data/Project1 Data export_001.tsv'
path_002 = 'data/Project1 Data export_002.tsv'
path_003 = 'data/Project1 Data export_003.tsv'
path_004 = 'data/Project1 Data export_004.tsv'
path_005 = 'data/Project1 Data export_005.tsv'
path_list = [path_001, path_002, path_003, path_004, path_005]

tasks = ['Task 1', 'Task 2', 'Task 3', 'Task 4', 'Task 5', 'Task 6']
features = ['Recording timestamp', 'Gaze point X', 'Gaze point Y', 'Mouse position X', 'Mouse position Y', 'Participant name']
interpolate_col = ['Gaze point X', 'Gaze point Y', 'Mouse position X', 'Mouse position Y']

processor = EyeTrackingProcessor(chunk_size=5*1e6, min_duration=5*1e6, target_size=600)
all_data = processor.load_data(path_list)
dataset = processor.get_features(all_data, tasks, features)
dataset = processor.get_chunks(dataset)
dataset_resampled = processor.process_and_resample_all(dataset, interpolate_col)

c:\Users\kruu\git_folder\eye_tracking\utils\data_processing.py:11: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, sep='\t')

In [3]:
dataset_resampled

,Gaze point X,Gaze point Y,Mouse position X,Mouse position Y,chunk_id,Participant name,Task_id,Task_execution
0,816.000000,1054.000000,-181.000000,911.000000,0,1,1,0
1,806.000000,1060.796327,-181.000000,911.000000,0,1,1,0
2,796.000000,1067.000000,-181.734558,911.000000,0,1,1,0
3,794.000000,1061.000000,-181.898164,911.203673,0,1,1,0
4,792.000000,1054.000000,-174.901503,916.283806,0,1,1,0
...,...,...,...,...,...,...,...,...
363595,1763.000000,26.000000,1645.687813,82.008347,2,5,6,5
363596,1749.719533,21.439065,1658.000000,77.000000,2,5,6,5
363597,1747.000000,16.000000,1670.661102,71.460768,2,5,6,5
363598,1760.258765,20.186978,1690.000000,63.000000,2,5,6,5
363599,1754.000000,24.000000,1690.000000,63.000000,2,5,6,5